html, body {
    text-align: center;
    font-family: system-ui, sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
}
#Photo {
    height: 180px;
    width:  180px;
}

.container {
    text-align: center;
    background-color: #747474;
    border-radius: 5%;
  
}