html, body {
    text-align: center;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: rgb(54, 52, 52);
   
    height: 100%;
}

.nav-brand {
    color: #006eff;
    margin: 10px;
    right: 48px;
    position: relative;
}

#navbarText {
    
    color: white;
    
}
.nav-link {
    color: white;
    animation-duration: 0.1;
}

.navbar-nav {
    --bs-nav-link-hover-color: rgb(0, 225, 255);
}
.card {
    background-color: #1f1f1f;
    color: white;
    border-radius: 35px;
}


header {
    background-image: url("../contenu/images/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#Profile {
    text-align: center;
    margin-right: 95px;
    height: 80px;
    width: 80px;
    left: 6px;
    position: relative;
    
}
#icon {
    text-align: center;
    height: 110px;
    width: 150px;
    left: 6px;
    position: relative;

}


.container {
    text-align: center;
    
  
}

#PhotoBis {
    height: 90px;
    width: 90px;
}

.content-section {
    display: flex;
    text-align: center;
    min-height: 100%;
    padding-bottom: 50px;

}
.btn {
    margin: 15px;
}


section {
    height: auto;
    overflow: hidden;
}

.hamburger-icon {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px; 
    height: 20px; 
}

.bar {
    display: block;
    width: 100%;
    height: 3px; /* épaisseur des barres */
    background-color:rgb(255, 255, 255);
   
}

.nav-item {

   margin: 10px;
}



#Copyright, .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}


#terminal {
    width: 80%;
    margin: 50px auto;
    background-color: #0a0a0a; /* Fond très sombre pour simuler le terminal Kali Linux */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Ombre sombre pour donner un effet réaliste */
    color: #33cc33; /* Texte vert typique des terminaux Kali Linux */
    min-height: 300px;
    overflow-y: auto;
    text-align: left;
}

/* En-tête du terminal (comme user@kali:~$) */
#header {
    font-size: 18px;
    color: #33cc33; /* Texte vert clair */
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #33cc33; /* Ligne séparatrice pour l'en-tête */
}

/* Style de texte (output) */
pre {
    white-space: pre-wrap; 
    word-wrap: break-word;
    font-size: 16px;
    margin: 0; /* Enlever les marges internes */
}

/* Détails des commandes */
#terminal .input-line {
    color: #ff0202; /* Commandes en vert, comme sur Kali */
}

#terminal .output-line {
    color: #f5f5f5; /* Résultats en blanc */
}