html, body {
    text-align: center;
    font-family: system-ui, sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
}
.navbar-brand {
    color: red;
}

.modal-dialog {
    max-width: 80%; 
    margin: 1.75rem auto; 
}


.modal-content {
    min-height: 700px; 

}


.container {
    text-align: center;
    background-color: #747474;
    border-radius: 5%;
  
}